*.knit.md
*.log
*.rds
*.utf8.md
*/garbage.txt
.RData
.Rhistory
.Rproj.user
docs/*.md
docs/reference-keys.txt
Ignore/*
index.md
rsconnect
VideoDecodeStats/*
_book
_bookdown_files
_publish.R
0001_who.md
0000a_front.md
0000_front.md
0101_communication.md
0100_lab.md
0500_usefulthings.md
0901_gradadmission.md
